# Nextflow
.nextflow/
work/
*.log
.timeline.html
.report.html
.trace
.dag.html

# Results
results/

# Test data
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# Mac
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
