params {
  input = "$projectDir/assets/samplesheet.test.csv"
  outdir = "results"
  reference = "/lustre/home/acct-medkkw/medlyb/database/annotation/gatk_ann/hg38/bwaindex2/Homo_sapiens_assembly38.fasta"
  ref_dict = "/lustre/home/acct-medkkw/medlyb/database/annotation/gatk_ann/hg38/bwaindex2/Homo_sapiens_assembly38.dict"
  tmp = "/lustre/home/acct-medkkw/medlyb/tmp"
  anno = "/lustre/home/acct-medkkw/medlyb/database/annotation/gatk_ann/hg38/hg38bundle"
  snpdb = "$projectDir/assets/wes.target.hg38.f.dbsnp_155.vcf.gz"
  bed = "$projectDir/assets/wes.target.hg38.f.bed"
  intervals = "$projectDir/assets/wes.target.hg38.f.intervals"
  callers = "mutect2,lofreq,vardict,pisces,germline"
  use_umi = false
  input_type = "fastq"
  cnvkit = false
  cnv_annotate = "/lustre/home/acct-medkkw/medlyb/database/UCSChg38/refFlat.txt"
  cnv_normal = true
  cnvkit_conda = "/lustre/home/acct-medty/medty-c/.conda/envs/cnvkit"
  only_cnv = false
  only_depth = false
  // ANNOVAR configuration
  annovar_path = "/lustre/home/acct-medkkw/medlyb/soft/annovar"
  annovar_db = "/lustre/home/acct-medkkw/medlyb/soft/annovar/humandb"
  annovar_protocol = "refGene,rmsk,gff3,cosmic87,mcap,revel,clinvar_20221231,exac03,dbnsfp35a,gnomad312_genome"
  annovar_operation = "g,r,r,f,f,f,f,f,f,f,"
  annovar_gff3db = "hg38_genehancer.txt"
  source_id = "RJH"
}

process {
  cpus = 4
  memory = { 4.GB * task.cpus }
}

conda {
  enabled = true
}
